# WARNING: See documentation for further configuration details, this is just a starting point
#
# Fill in the bellow values acording to your needs and copy this file to an accessible location.
# The program will try to find your configuration in ~/.blogtty or ./blogtty.conf if you doesn't supply an explicit configuration file
#
#Default blog configuration
[default]
#server URL, if it is an wordpress blog you will need to change just the domain name
url = http://some-wordpress-blog.com/xmlrpc.php

#blog id, Usually 0 or 1, if you don't know leave it alone
id = 1

# The user name you use to post to your blog
user = your_user

#The password you use
password = your_password
